<div class="row valign-wrapper">

        <div class="col s3" style="margin-top: 60px; margin-left: 20px; margin-right: 20px"> <!-- Note that "m4 l3" was added -->
            <span class="teal-text text-teal lighten-2">New User</span>

                <div class="input-field">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Name</label>
                </div>

                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Title</label>
                </div>

                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Company</label>
                </div>

                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Email</label>
                </div>
  
  
        </div>
  
        <div class="col s9" style="margin-right: 20px"> 
                <!-- Page Content goes here -->
                <table class="striped">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Title</th>
                          <th>Company</th>
                          <th>Email</th>
                      </tr>
                    </thead>
            
                   <tbody>
                        {{#each people}}
                      <tr>
                        <td>{{firstname}}</td>
                        <td>{{lastname}}</td>
                        <td>{{title}}</td>
                        <td>{{company}}</td>
                        <td>{{email}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
        </div>

    </div>