<div class="row">

  <div class="col s2" style="margin-top: 60px; margin-left: 20px; margin-right: 20px">
    <span class="teal-text text-teal lighten-2">New Task</span>
    <form id = "taskForm">
      <div class = "row">
      <div class="input-field">
        <textarea class="materialize-textarea" id="taskName"></textarea>
        <label for="taskName">Description:</label>
      </div>
      </div>
      <div class = "row">
      <div class="input-field">
        <select id="project">
          <option value="" disabled selected>Select a project:</option>
          {{#each Project}}
          <option value="{{dataValues.name}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
        <label for="person">Assign To:</label>
      </div>
      </div>
      <div class = "row">
      <div class="input-field">
        <select id="person">
          <option value="" disabled selected>Assign a person</option>
          {{#each People}}
          <option value="{{dataValues.full_name}}">{{dataValues.full_name}}</option>
          {{/each}}
        </select>
        <label for="person">Assign To:</label>
      </div>
      </div>
      <div class = "row">
        <div class="input-field">
        <select id="state">
          <option value="" disabled selected>Task state</option>
          <option value="Backlog">Backlog</option>
          <option value="In Progress">In Progress</option>
          <option value="Blocked">Blocked</option>
          <option value="Completed">Completed</option>
        </select>
        <label for="state">Pick task status:</label>
      </div>
      </div>
      <div class = "row">
      <div class="input-field">
        <textarea id="hours" class="materialize-textarea" id="description-input"></textarea>
        <label for="hours">Number of Hours</label>
      </div>
      <div>
      <p>
        <label for = "billable">
          <input id="billable" type="checkbox" class="filled-in" checked="checked"/>
          <span>Billable</span>
        </label>
        </p>
      </div>
      </div>
      <div class = "row">
        <button class="btn waves-effect waves-light" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <div class="container" style="margin-right: 20px">
    
    {{#each Tasks}}
    <div class="col m3" style="margin-right: 20px">
      <h5>{{dataValues.State.dataValues.name}}</h5>
    <div id="backlog-card" class="card blue lighten-5">
      <span class="card-title">{{dataValues.name}}</span>
        <p style="padding: .2em;">Project: {{dataValues.Project.dataValues.name}}</p>
        <p style="padding: .2em;">Assigned To: {{dataValues.Person.dataValues.full_name}}</p>
        <p style="padding: .2em;">Hours Assigned: {{dataValues.hours}}</p>
        <p style="padding: .2em;">Task Cost: ${{dataValues.cost}}</p>
        <p style="padding: .2em;">Task Revenue: ${{dataValues.revenue}}</p>  
    </div>
    </div>

    {{/each}}
  </div>

</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>
{{!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
{{!-- <script src="/public/assets/js/script.js"></script> --}}
{{!-- <script src="/public/assets/js/task.js"></script> --}}